body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.messages {
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font: 16px sans-serif;
    justify-content: flex-end;
}

.messages .message-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.52);
    display: flex;
    width: 100%;
}

.messages .message-row .username {
    background-color: rgba(1, 1, 1, 0.40);
    width: 50px;
    overflow-x: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}

.messages .message-row .username.current-user {
    background-color: black;
    font-weight: bold;
}

.messages .message-row .message {
    flex: 1 1 auto;
    padding: 5px;
}

form#message-form {
    align-items: flex-start;
    background-color: #8b008b;
    display: flex;
    height: 32px;
    justify-content: flex-start;
    width: 100%;
}

form#message-form input[type="text"] {
    background: transparent;
    border: 0;
    color: white;
    flex: 1 1 auto;
    font-size: 16px;
    height: calc(100% - 10px);
    padding: 5px;
    width: 90%;
}
form#message-form input[type="text"]::-webkit-input-placeholder {
    color: #9370db;
}

form#message-form button {
    color: rgba(1, 1, 1, 0.56);
    display: block;
    font-size: 16px;
    flex: 1 1 auto;
    height: 100%;
    padding: 5px;
}